@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #d390fa;
    --verde: #00c3ff;
    --branco: #000000;
    --botao-ativo: #004cfc;
    --botao-inativo: rgba(51, 70, 247, 0.5);
    --texto-fundo: rgba(248, 6, 168, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Times New Roman', Times, serif;
}
