@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #d946f7;
    --verde: #00c3ff;
    --branco: #ffffff;
    --botao-ativo: #004cfc;
    --botao-inativo: rgba(71, 89, 255, 0.5);
    --texto-fundo: rgb(255, 100, 203);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Times New Roman', Times, serif;
}

.conteudo-principal {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.titulo-principal{ 
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao{
    font-family: 'Times New Roman', Times, serif;
    
}